.toggler {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toogler:focus {
    outline: none;
}

.toogler__line {
    width: 24px;
    height: 2px;
    background: white;
}